/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-v29-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/roboto-v29-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v29-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v29-latin-regular.woff") format("woff"), url("../../fonts/roboto-v29-latin-regular.ttf") format("truetype"), url("../../fonts/roboto-v29-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
.text-white-h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 62.88px;
  letter-spacing: 0.5px;
}

.text-white-p {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.text-h2 {
  font-size: 32px;
  color: #212A2F;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.5px;
}

.text-slider-menu {
  font-size: 16px;
  color: #212A2F;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
}

.text-card-title {
  font-size: 22px;
  color: #212A2F;
  font-style: normal;
  line-height: 29px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.text-card-description-small {
  font-size: 14px;
  color: #212A2F;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.align-center {
  text-align: center;
}

.pt-5 {
  padding-top: 5px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-34 {
  padding-bottom: 34px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.min-width-180 {
  min-width: 180px;
}

.bar-2px {
  width: 100%;
  margin: 0 auto;
  height: 2px;
  display: block;
  background: #D3D4D5;
}

.bar-1px {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  display: block;
  background: #D3D4D5;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.page-section {
  padding-bottom: 120px;
}

.section-wrapper {
  padding: 0 24px;
  max-width: 1284px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #FFFFFF;
}

.header__links-left, .header__links-right {
  display: flex;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__link-text {
  line-height: 60px;
  flex-shrink: 0;
  padding: 0px 18px;
  font-size: 12px;
  letter-spacing: 1.7px;
  font-weight: 400;
  text-decoration: none;
  color: #212A2F;
}

.header__link-icon {
  line-height: 60px;
  flex-shrink: 0;
  padding: 0px 9px;
}
.header__link-icon img {
  width: 90%;
  height: auto;
  vertical-align: -9%;
}

.header__link-text:hover, .header__link-icon:hover {
  background-color: #F2F2F2;
}

@media (max-width: 950px) {
  .header__logo {
    display: none;
  }
}
.banner__img {
  display: block;
  width: 100%;
}

.banner-main {
  position: relative;
}

.banner-main__text {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-main__text h1 {
  margin: 0;
  padding-bottom: 11px;
}

.button {
  background-color: #FFFFFF;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #212A2F;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 48px;
  padding: 0px 31px;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background-color: #F2F2F2;
}
.button:active {
  position: relative;
  top: 1px;
}

.banner-main__buttons-wrapper {
  display: flex;
  gap: 24px;
  position: absolute;
  bottom: 66px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-menu__items {
  display: flex;
  justify-content: space-between;
}

nav.slider-menu {
  max-width: 540px;
  margin: 0 auto;
  padding-top: 20px;
}
nav.slider-menu input {
  display: none;
}
nav.slider-menu label {
  flex-grow: 1;
  max-width: 123px;
  padding: 10px;
  display: block;
}
nav.slider-menu label:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.slider-menu__slider {
  max-width: 123px;
  height: 2px;
  background: #000;
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 396px;
  height: 396px;
}

.card__buttons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 276px;
  position: absolute;
  top: 144px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0%;
}

.card__image:hover + .card__buttons_wrapper, .card__buttons_wrapper:hover {
  opacity: 100%;
}

.card__description {
  display: flex;
  flex-direction: column;
}

.card__icon_and_text {
  display: flex;
}
.card__icon_and_text .card__icon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

/*# sourceMappingURL=style.css.map */
