@use "../utils/variables";

.bar-2px {
	width: 100%;
	margin: 0 auto;
	height: 2px;
	display: block;
	background: variables.$bar-grey;
}

.bar-1px {
	width: 100%;
	margin: 0 auto;
	height: 1px;
	display: block;
	background: variables.$bar-grey;
}