body {
	font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.page-section {
	padding-bottom: 120px;
}

// TODO rename this
.section-wrapper {
	padding: 0 24px;
	max-width: 1284px;
	margin: 0 auto;
}