@use "../utils/mixins";

body {
	@include mixins.roboto-family;
	@include mixins.wrapper;
}

.page-section {
	padding-bottom: 120px;
}

.section-wrapper {
	padding: 0 24px;
	max-width: 1284px;
	margin: 0 auto;
}