@use "./variables";

.text-white-h1 {
	font-size: 48px;
	color: variables.$white;
	font-weight: variables.$font-weight-normal;
	line-height: 62.88px;
	letter-spacing: 0.5px;
}

.text-white-p {
	font-size: 16px;
	color: variables.$white;
	font-weight: variables.$font-weight-normal;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.text-h2 {
	font-size: 32px;
	color: variables.$dark-grey;
	font-weight: variables.$font-weight-normal;
	line-height: 42px;
	letter-spacing: 0.5px;
}

.text-slider-menu {
	font-size: 16px;
	color: variables.$dark-grey;
	font-style: normal;
	line-height: 24px; // TODO
	letter-spacing: 2px;
	text-align: center;
}

.text-card-title {
	font-size: 22px;
	color: variables.$dark-grey;
	font-style: normal;
	line-height: 29px;
	letter-spacing: 0.5px;

	text-decoration: none;
}

.text-card-description-small {
	font-size: 14px;
	color: variables.$dark-grey;
	font-style: normal;
	line-height: 20px;
	letter-spacing: 0.3px;
}