$white: #FFFFFF;
$black: #000000;
$dark-grey: #212A2F;
$selected-grey: #F2F2F2;
$bar-grey: #D3D4D5;
// $dark-brown: #231F20; do I really need it?

$font-weight-normal: 400;
$max-w: 1440px;

// header
$header-h: 60px;
$link-padding: 18px;
$icon-padding: 9px;