@use "../utils/variables";

.button, .button-dark {
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;

	font-weight: variables.$font-weight-normal;
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 48px; // a hack for uppercase text centering
	padding: 0px 31px;
	text-decoration: none;

	// min-width: 180px;
	// min-height: 48px;
	text-align: center;

	&:active {
		position: relative;
		top: 1px;
	}
}

.button {
	background-color: variables.$white;
	color: variables.$dark-grey;

	&:hover {
		background-color: variables.$selected-grey;
	}
}

.button-dark {
	background-color: variables.$dark-grey;
	color: variables.$white;

	&:hover {
		opacity: 90%;
		// background-color: variables.$selected-grey;
	}
}

.buttons-wrapper {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.banner-main__buttons-wrapper {
	position: absolute;
	bottom: 66px;
	left: 50%;
	transform: translateX(-50%);
}
