// @use "../utils/variables";
// @use "../utils/mixins";

.cards-wrapper {
	display: flex;
	justify-content: space-evenly;
	gap: 24px;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
}

.card__image {
	width: 396px;
	height: 396px;
}

.card__buttons_wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 276px;

	position: absolute;
	// bottom: 50%;
	top: 144px;
	left: 50%;
	transform: translateX(-50%);

	opacity: 0%;
}

// Looks ugly but anyway
.card__image:hover + .card__buttons_wrapper, .card__buttons_wrapper:hover {
	opacity: 100%;
}

.card__description {
	display: flex;
	flex-direction: column;
}

.card__icon_and_text {
	display: flex;

	.card__icon {
		width: 30px;
		height: 30px;
		margin-right: 12px;
	}
}