// @use "../utils/variables";
// @use "../utils/mixins";

.cards-wrapper {
	display: flex;
	justify-content: space-evenly;
	gap: 24px;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
}

.card__image {
	width: 396px;
	height: 396px;
}

.card__description {
	display: flex;
	flex-direction: column;
}

.card__icon_and_text {
	display: flex;

	.card__icon {
		width: 30px;
		height: 30px;
		margin-right: 12px;
	}
}