// @use "../utils/variables";

.cards-wrapper {
	display: flex;
	justify-content: space-evenly;
	gap: 24px;
	flex-wrap: wrap;
}

.cards-scrollable-wrapper {
	position: relative;
	display: flex;
	gap: 24px;
	justify-content: flex-start;

	overflow-x: hidden;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
}

.card__image {
	width: 396px;
	height: 396px;
}

.card__buttons_wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 276px;

	position: absolute;
	// bottom: 50%;
	top: 144px;
	left: 50%;
	transform: translateX(-50%);

	opacity: 0%;
}

// Looks ugly but anyway
.card__image:hover + .card__buttons_wrapper, .card__buttons_wrapper:hover {
	opacity: 100%;
}

.card__description {
	display: flex;
	flex-direction: column;
}

.card__icon_and_text {
	display: flex;

	.card__icon {
		width: 30px;
		height: 30px;
		margin-right: 12px;
	}
}

.button-next {
	background: url('../img/button-next.svg');
	width: 48px;
	height: 48px;
	border: none;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);

	position: absolute;
	top: 174px;
	right: 48px;

	&:hover {
		cursor: pointer;
		background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), url('../img/button-next.svg');
	}

	&:active {
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
	}
}
