@use "../utils/variables";

.footer {
	background-color: variables.$dark-grey;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
}

.footer__email-wrapper {
	display: flex;
	gap: 12px;
}

.footer__email-input {
	width: 302px;
	height: 48px;

	font-size: 20px;
	color: variables.$white;
	background-color: variables.$footer-grey;
	border: none;
	border-bottom: 2px solid variables.$white;
	padding-left: 10px;
}

.footer__links-wrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
}

.footer__links-column {
	min-width: 250px;
	max-width: 333px;
	flex-grow: 1;
}

.footer__link-list {
	list-style: none;
	margin: 0;

	li + li {
		margin-top: 16px;
	}
}

.footer__link {
	// padding-bottom: 16px;
	line-height: 12px;
	font-size: 12px;


	a, span {
		text-decoration: none;
		color: variables.$white;
		font-size: 12px;
		font-style: normal;
		font-weight: variables.$font-weight-normal;
		line-height: 12px;
		letter-spacing: 0.5px;
	}
}

.footer__misc-wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 128px;

	.footer__follow-the-flock {
		width: 333px;
	}
}

.footer__social-icons {
	display: flex;
	gap: 18px;
}

.footer__flags {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}
