@use "../utils/variables";
// @use "../utils/mixins";

.slider-menu__items {
	display: flex;
	justify-content: space-between;
	// gap: 20px; // TODO
}

nav.slider-menu {
	max-width: 540px;
	margin: 0 auto;
	padding-top: 20px;

	input {
		display: none;
	}

	label {
		flex-grow: 1;
		max-width: 123px;
		// height: 24px;
		padding: 10px;
		display: block; // makes no effect, but anyway

		&:hover {
			cursor: pointer;
			background-color: variables.$selected-grey;
		}
	}
}

.slider-menu__slider {
	max-width: 123px;
	height: 2px;
	background: #000;
}

// Doesn't work, as input and slider are not on the same level :(
// .slider-menu__items #shoes:checked ~ .slider-menu__slider {margin: 0}
// .slider-menu__items #apparel:checked ~ .slider-menu__slider {margin: 0 auto}
// .slider-menu__items #basics:checked ~ .slider-menu__slider {margin: 0 0 0 auto}